.link,
.list {
  text-decoration: none;
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,ul,li,p,div{
  margin: 0;
  padding: 0;
}
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #fff;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --lightslate: #8E8F99;
}
.container{
max-width: 1158px;
padding-left: 15px;  
padding-right: 15px; 
margin-left:  auto;
margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
/*==========================
/    HEADER 
/===========================
*/
.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--slate);
  background-color: var(--white);
}
.hdr{
  border-bottom: 1px solid var(--cornflower, var(--cornflower));
}
.hdr .container{
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
 align-items: center;
}
.logo-lnk {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}

.logo-txt {
  color: var(--navyblue);
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
}
.nav-lnk {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: inline-block;
}
.nav-lnk:hover,
.nav-lnk:focus {
  color: var(--ocean);
}
.addr {
  font-style: normal;
}
.addr .list{
  display: flex;
  gap: 40px;
}
.addr-lnk {
  color: var(--slate);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: inline-block;
}
.addr-lnk:hover,
.addr-lnk:focus {
  color: var(--ocean);
}
/*========================================*/
.hero {
  background: var(--navyblue);
  padding: 188px 0;
}
.hero-ttl {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin:0 auto 48px;
}
.hero-btn {
  background: var(--iris);
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
/*==========================
/    HOW
/===========================
*/
.how {
 padding-top: 120px;
 padding-bottom: 120px;
}
.how-ttl {
}
.how-list {
  display: flex;
  gap: 24px;
}
.how-item {
  width: calc((100% - 72px) / 3);
}
.how-item-ttl {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.how-item-desc {
  color: var(--slate);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.how-icon{
  max-width: 264px;
  margin-bottom: 8px;
  padding: 24px 0;
  border-radius: 4px;
background: var(--cloud);
text-align: center;
}
/*========================================*/
.what {
  padding-bottom: 120px;
}
.what-ttl {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.what-list {
  display: flex;
  gap: 24px;
}
.what-item {
  border: 1px solid var(--cornflower);
  width: calc((100% - 48px) / 3);
}
/*==========================
/    TEAM
/===========================
*/
.team {
  background: var(--cloud);
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
 
}
.team-ttl {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
 /* background-color: var(--white);*/
  display: flex;
 gap: 24px;
}
.team-member {
  background: var(--white);
  width: calc((100% - 72px) / 3);
  border-radius: 0px 0px 4px 4px; 
}
.team-member-img {
}
.team-caption{
  padding: 32px 16px;
}
.team-member-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-member-role {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.social-icons{
 display: flex;
  justify-content: space-between;
  gap: 24px;
}
.social-link{
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.social-link .icon{
  width: 16px;
  fill: var(--cloud);
}
/*==========================
/    CUSTOMERS
/===========================
*/
.customers{
  padding: 120px 0;
}
.customers-ttl{
  margin-bottom: 72px;
  color: var(--navyblue);
text-align: center;

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.customers-list{
 display: flex;
 gap: 24px;
}
.customers-item{
  display: flex;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
 align-items: center;
 justify-content: center;
  flex-shrink: 0;
}




/*========================================*/
.footer {
  background: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.footer .container{
  display: flex;
}
.container-logo{
max-width: 264px;
margin-right: 120px;
}
.social-ttl{
  color: var(--white, #FFF);
  font-family: 'Roboto' , sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
 margin-bottom: 16px;
}
.footer-lnk {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-txt {
  color: var(--cloud);
 
}
.footer-desc {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
 
}
/*=======================================*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-btn {
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--ocean);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border: 1px solid transparent;
}
.portfolio .project {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio .project-item {
  /* border-bottom: 1px solid var(--cornflower); */
  background: var(--white);
  width: calc((100% - 48px) / 3);
}
/* .portfolio .project-link img {
  margin-bottom: 32px;
} */
.project-caption{
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.project-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.project-category {
  color: var(--slate);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
 
}
